.wrapper {
    display: flex;
}

.left-column,
.right-column {
    flex: 1;
}

.left-column {
    height: 1000px;
    background: rgb(112, 110, 110);
}

.right-column {
    height: 1000pxpx;
    background: rgb(211, 214, 211);
}

.img-conteiner {
    width: 200px;
    height: 200px;
    background-image: url(img/photo_2023-07-03_12-42-29.jpg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    margin: 50px;
}

.title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.info {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}